--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9 (Debian 16.9-1.pgdg120+1)
-- Dumped by pg_dump version 16.9 (Debian 16.9-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: invoices_user
--

COPY public.customers (id, name, address, email, tax_id) FROM stdin;
e04e34ee-39f7-4a2e-8947-474fcdad9951	Luis H├®ctor Rizzo	Pampa 2821	luishrizzo@gmail.com	111222666
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: invoices_user
--



--
-- Data for Name: invoice_items; Type: TABLE DATA; Schema: public; Owner: invoices_user
--

COPY public.invoice_items (id, invoice_id, description, quantity, price) FROM stdin;
ea8701d6-1c93-4ebd-9c08-8f9577f8b78a	5baec8d4-b5d3-47b2-b611-f009ae1e6d04		1.00	0.00
1ac262cf-3f27-48ec-89cb-ffe368d6de71	79bb1529-4418-44c5-85f3-b2aa5ce583aa	Servicio de desarrollo web	1.00	150.00
\.


--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: invoices_user
--

COPY public.services (id, description, price, category) FROM stdin;
80e91297-cdf7-42d7-9c09-94136733874d	Servicio de desarrollo web	150.00	service
\.


--
-- PostgreSQL database dump complete
--

