--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9 (Debian 16.9-1.pgdg120+1)
-- Dumped by pg_dump version 16.9 (Debian 16.9-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: invoices_user
--

CREATE TABLE public.customers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    address text,
    email text NOT NULL,
    tax_id text
);


ALTER TABLE public.customers OWNER TO invoices_user;

--
-- Name: invoice_items; Type: TABLE; Schema: public; Owner: invoices_user
--

CREATE TABLE public.invoice_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    invoice_id uuid NOT NULL,
    description text NOT NULL,
    quantity numeric(12,2) NOT NULL,
    price numeric(12,2) NOT NULL,
    CONSTRAINT invoice_items_price_check CHECK ((price >= (0)::numeric)),
    CONSTRAINT invoice_items_quantity_check CHECK ((quantity > (0)::numeric))
);


ALTER TABLE public.invoice_items OWNER TO invoices_user;

--
-- Name: invoices; Type: TABLE; Schema: public; Owner: invoices_user
--

CREATE TABLE public.invoices (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    invoice_number text NOT NULL,
    customer_id uuid NOT NULL,
    date date NOT NULL,
    due_date date,
    notes text,
    tax_rate numeric(5,2) DEFAULT 0 NOT NULL,
    status text DEFAULT 'Borrador'::text NOT NULL,
    subtotal numeric(12,2) NOT NULL,
    tax numeric(12,2) NOT NULL,
    total numeric(12,2) NOT NULL,
    CONSTRAINT invoices_subtotal_check CHECK ((subtotal >= (0)::numeric)),
    CONSTRAINT invoices_tax_check CHECK ((tax >= (0)::numeric)),
    CONSTRAINT invoices_total_check CHECK ((total >= (0)::numeric))
);


ALTER TABLE public.invoices OWNER TO invoices_user;

--
-- Name: services; Type: TABLE; Schema: public; Owner: invoices_user
--

CREATE TABLE public.services (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    description text NOT NULL,
    price numeric(12,2) NOT NULL,
    category text DEFAULT 'service'::text NOT NULL,
    CONSTRAINT services_category_check CHECK ((category = ANY (ARRAY['product'::text, 'service'::text]))),
    CONSTRAINT services_price_check CHECK ((price >= (0)::numeric))
);


ALTER TABLE public.services OWNER TO invoices_user;

--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: invoices_user
--

COPY public.customers (id, name, address, email, tax_id) FROM stdin;
e04e34ee-39f7-4a2e-8947-474fcdad9951	Luis H├®ctor Rizzo	Pampa 2821	luishrizzo@gmail.com	111222666
\.


--
-- Data for Name: invoice_items; Type: TABLE DATA; Schema: public; Owner: invoices_user
--

COPY public.invoice_items (id, invoice_id, description, quantity, price) FROM stdin;
ea8701d6-1c93-4ebd-9c08-8f9577f8b78a	5baec8d4-b5d3-47b2-b611-f009ae1e6d04		1.00	0.00
1ac262cf-3f27-48ec-89cb-ffe368d6de71	79bb1529-4418-44c5-85f3-b2aa5ce583aa	Servicio de desarrollo web	1.00	150.00
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: invoices_user
--



--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: invoices_user
--

COPY public.services (id, description, price, category) FROM stdin;
80e91297-cdf7-42d7-9c09-94136733874d	Servicio de desarrollo web	150.00	service
\.


--
-- Name: customers customers_email_key; Type: CONSTRAINT; Schema: public; Owner: invoices_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_email_key UNIQUE (email);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: invoices_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: invoice_items invoice_items_pkey; Type: CONSTRAINT; Schema: public; Owner: invoices_user
--

ALTER TABLE ONLY public.invoice_items
    ADD CONSTRAINT invoice_items_pkey PRIMARY KEY (id);


--
-- Name: invoices invoices_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: invoices_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_invoice_number_key UNIQUE (invoice_number);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: invoices_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: services services_description_key; Type: CONSTRAINT; Schema: public; Owner: invoices_user
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_description_key UNIQUE (description);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: invoices_user
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: idx_invoice_items_invoice_id; Type: INDEX; Schema: public; Owner: invoices_user
--

CREATE INDEX idx_invoice_items_invoice_id ON public.invoice_items USING btree (invoice_id);


--
-- Name: idx_invoices_customer_id; Type: INDEX; Schema: public; Owner: invoices_user
--

CREATE INDEX idx_invoices_customer_id ON public.invoices USING btree (customer_id);


--
-- Name: invoice_items invoice_items_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: invoices_user
--

ALTER TABLE ONLY public.invoice_items
    ADD CONSTRAINT invoice_items_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id) ON DELETE CASCADE;


--
-- Name: invoices invoices_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: invoices_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

